body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
}

a {
  text-decoration: underline;
  color: seashell;
}


.logo {
  display: flex;
  margin-left: 10px;
  align-items: center;

}

.logo img {
  height: 50px;
}


nav {
  display: flex;
  align-items: center;
}

nav span {
  padding: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 69px;
  align-items: center;
}

.mission {
  display: flex;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  justify-content: center;
}

.mission .text {
  background-color: black;
  width: 1200px;
  height: 125px;
  text-align: center;
  padding-bottom: 15px;
}


.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  padding-top: 50px;

}

.featured .text {
  background-color: black;
  height: 125px;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 30px;
}

.featured .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.images p {
  text-align: center;
  margin:10px;
}

.locations {
  display: flex;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 75px;
  border: 1px solid white;
}

.locations .content {
  display: flex;
  flex-direction: row;
}

.locations .content div{
  border: 1px solid white;
  height: 300px;
  width: 300px;
  background-color: black;
  margin:15px 20px;
  opacity: 1;
  text-align: center;

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 200px;
}



footer {
  margin-top: 45px;
  margin-left: 20px;
  text-align: left;
}
